<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f = "http://java.sun.com/jsf/core">
    <h:head>
        <title>Der Stricher</title>
        <h:outputStylesheet name="styles.css"  />

    </h:head>
    <h:body class="background">
        <div><h1 class="title">Azubi des Monats</h1></div>

        <h:form>
            <h:dataTable value = "#{azubiData.azubis}" var = "azubii"
                         styleClass = "table"
                         headerClass = "header"
                         rowClasses = "TableOddRow,TableEvenRow">

                <h:column>    				
                    <f:facet name = "header" class="red" >Name</f:facet>    				
                    <p class="black">#{azubii.name}</p>
                </h:column>

                <h:column rendered="#{auth.auth}">    				
                    <f:facet name = "header" >Blau +</f:facet>    				
                    <h:commandButton value="+" class="button bt white small rounded" action="#{azubii.increaseBlue()}"/>
                </h:column>

                <h:column rendered="#{auth.auth}">    				
                    <f:facet name = "header" >Blau -</f:facet>    				
                    <h:commandButton value="-" class="button bt white small rounded" action="#{azubii.decreaseBlue()}"/>
                </h:column>

                <h:column rendered="#{auth.auth}">    				
                    <f:facet name = "header">Rot +</f:facet>    				
                    <h:commandButton value="+" class="button rt white small rounded" action="#{azubii.increaseRed()}"/>
                </h:column>

                <h:column rendered="#{auth.auth}">    				
                    <f:facet name = "header">Rot -</f:facet>    				
                    <h:commandButton value="-" class="button rt white small rounded" action="#{azubii.decreaseRed()}"/>
                </h:column>

                <h:column>
                    <f:facet name = "header">     +     </f:facet>

                        <h:outputText class="blue strokes" value="#{azubii.blue}" escape="false"></h:outputText>

                </h:column>

                <h:column>
                    <f:facet name = "header">     -    </f:facet>
                        <h:outputText class="red strokes" value="#{azubii.red}" escape="false"></h:outputText>

                </h:column>

                <h:column>
                    <f:facet name = "header">Summe</f:facet>
                    <p class="black">#{azubii.sum} </p>
                </h:column>
            </h:dataTable>


        </h:form>



        <div class="footer">
            <h:button class="button rounded large orange" id="loginBT" value=" Login and more " outcome="#{navi.login}">        </h:button>
            <h:button class="button rounded large orange" id="historyBT" value=" Hall of Fame " outcome="#{navi.history}">        </h:button>

        </div>

    </h:body>
</html>

